<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.m0ep.tudo2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.m0ep.tudo2.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.m0ep.tudo2.TaskActivity"
            android:label="@string/title_activity_task"
            android:parentActivityName="de.m0ep.tudo2.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.m0ep.tudo2.MainActivity" />
        </activity>
        <provider 
            android:name=".provider.TaskProvider" 
            android:authorities="de.m0ep.tudo2.taskprovider" 
            android:label="task_provider" 
            android:exported="true" 
            android:readPermission="de.m0ep.tudo2.taskprovider.READ" 
            android:writePermission="de.m0ep.tudo2.taskprovider.WRITE" 
            android:grantUriPermissions="true">
        </provider>
    </application>

</manifest>
